@import "./react-transition-group-animations.css";
@import "./scroll-bar.css";
@import "./_timeline.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }

  html,
  body,
  #root {
    height: 100%;
    min-height: 100%;
    color: theme("colors.typography.secondary");
    overscroll-behavior-y: none;
  }
}

body .ant-picker-ok > button {
  background: #0066ff;
  color: #fff;
}

body .ant-picker-ok > button:hover {
  background: #0045ac;
  color: #fff;
}

body .ant-picker-ok > button[disabled] {
  background: #e6e6e6;
  color: #fff;
}

.picker-view {
  display: flex;
  width: 100%;
  min-width: 260px;
  gap: 1.5rem;
}

.picker-table {
  width: 100%;
  border-collapse: collapse;
}

.picker-header-arrow {
  display: flex;
  height: 2.5rem;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  align-items: center;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  font-size: 1.125rem;
  line-height: 1.75rem;
}

:is([dir="rtl"] .picker-header-arrow) {
  --tw-rotate: 180deg;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate))
    skew(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x))
    scaleY(var(--tw-scale-y));
}

.picker-header-label {
  margin-left: 0.125rem;
  margin-right: 0.125rem;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  font-size: 1.125rem;
  line-height: 1.75rem;
  font-weight: 600;
  --tw-text-opacity: 1;
  color: rgb(17 24 39 / var(--tw-text-opacity));
}

:is(.dark .picker-header-label) {
  --tw-text-opacity: 1;
  color: rgb(243 244 246 / var(--tw-text-opacity));
}

.year-table,
.month-table {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 0.5rem;
}

.date-picker-cell {
  height: 2.25rem;
  width: 2.25rem;
  padding: 0;
  text-align: center;
}

.date-picker-cell-content {
  height: 100%;
  width: 100%;
  font-weight: 400;
}

.date-picker-cell-current-month {
  --tw-text-opacity: 1;
  color: rgb(55 65 81 / var(--tw-text-opacity));
}
.date-picker-cell-current-month.bg-indigo-600 {
  --tw-text-opacity: 1;
  color: white;
}

:is(.dark .date-picker-cell-current-month) {
  --tw-text-opacity: 1;
  color: rgb(243 244 246 / var(--tw-text-opacity));
}

.date-picker-cell-hoverable:hover {
  --tw-bg-opacity: 1;
  background-color: #d6d9dc;
  color: white;
}

:is(.dark .date-picker-cell-hoverable:hover) {
  --tw-bg-opacity: 1;
  background-color: rgb(75 85 99 / var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgb(209 213 219 / var(--tw-text-opacity));
}

.date-picker-cell-disabled {
  cursor: not-allowed;
  --tw-bg-opacity: 1;
  background-color: rgb(209 213 219 / var(--tw-bg-opacity));
  opacity: 0.3;
}

.date-picker-week-cell {
  font-weight: 600;
}

.week-day-cell {
  height: 1.75rem;
  color: rgb(107 114 128 / var(--tw-text-opacity));
}

.day-picker,
.month-picker,
.year-picker {
  width: 100%;
}

.month-picker-cell,
.year-picker-cell {
  border-radius: 0.5rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  text-align: center;
  font-weight: 600;
}

.month-picker-cell-disabled,
.year-picker-cell-disabled {
  cursor: not-allowed;
  --tw-bg-opacity: 1;
  background-color: rgb(209 213 219 / var(--tw-bg-opacity));
  opacity: 0.3;
}

.badge-dot {
  height: 0.5rem;
  width: 0.5rem;
  border-radius: 9999px;
  --tw-bg-opacity: 1;
  background-color: rgb(239 68 68 / var(--tw-bg-opacity));
  font-size: 0.75rem;
  line-height: 1rem;
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}
.bg-color-date-blue {
  background-color: #90d7e9;
  border-color: white;
  border-width: 2px;
}
.border-indigo-50 {
  border-color: rgb(238 242 255 / var(--tw-border-opacity));
}
.border-indigo-100,
.border-indigo-50 {
  --tw-border-opacity: 1;
}
.border-indigo-100 {
  border-color: rgb(224 231 255 / var(--tw-border-opacity));
}
.border-indigo-200 {
  border-color: rgb(199 210 254 / var(--tw-border-opacity));
}
.border-indigo-200,
.border-indigo-300 {
  --tw-border-opacity: 1;
}
.border-indigo-300 {
  border-color: rgb(165 180 252 / var(--tw-border-opacity));
}
.border-indigo-400 {
  border-color: rgb(129 140 248 / var(--tw-border-opacity));
}
.border-indigo-400,
.border-indigo-500 {
  --tw-border-opacity: 1;
}
.border-indigo-500 {
  border-color: rgb(99 102 241 / var(--tw-border-opacity));
}
.border-indigo-600 {
  border-color: rgb(79 70 229 / var(--tw-border-opacity));
}
.border-indigo-600,
.border-indigo-700 {
  --tw-border-opacity: 1;
}
.border-indigo-700 {
  border-color: rgb(67 56 202 / var(--tw-border-opacity));
}
.border-indigo-800 {
  border-color: rgb(55 48 163 / var(--tw-border-opacity));
}
.border-indigo-800,
.border-indigo-900 {
  --tw-border-opacity: 1;
}
.border-indigo-900 {
  border-color: rgb(49 46 129 / var(--tw-border-opacity));
}
.bg-indigo-600 {
  background-color: rgb(79 70 229 / var(--tw-bg-opacity));
}
.bg-indigo-600,
.bg-indigo-700 {
  --tw-bg-opacity: 1;
}
.bg-indigo-700 {
  background-color: rgb(67 56 202 / var(--tw-bg-opacity));
}
.bg-indigo-800 {
  background-color: rgb(55 48 163 / var(--tw-bg-opacity));
}
.bg-indigo-800,
.bg-indigo-900 {
  --tw-bg-opacity: 1;
}
.bg-indigo-900 {
  background-color: rgb(49 46 129 / var(--tw-bg-opacity));
}
.ant-card-bordered {
  border: 1px solid #90d7e9;
}
.message-meet {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 6px 12px;
  border-top: 1px solid #e9ecef;
}

.meet-caption {
  .title {
    font-size: 15px;
    margin-bottom: 0;
    color: #212529;
  }
}

.meet-date {
  color: #495057;
  font-size: 14px;
}

.meet-icon {
  width: 42px;
  height: 42px;
  background-color: rgba(#34a853, 0.1);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #34a853;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  svg {
    width: 18px;
    height: 18px;
  }
}

.meet-url {
  color: #06f;
  a {
    background-color: rgba(0, 102, 255, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.2s;
    border-radius: 6px;
    padding: 4px 8px;
    font-size: 15px;
    box-shadow: rgba(0, 102, 255, 0.1);
    &:hover {
      box-shadow: rgba(4, 6, 11, 0.4) 0px 1px 4px;
    }
  }

  a.disabled {
    color: currentColor;
    cursor: not-allowed;
    opacity: 0.5;
    text-decoration: none;
  }

  svg {
    margin-left: 8px;
    width: 14px;
    height: 14px;
  }
}

._1alIC {
  align-items: center;
}

._1alIC_disconnected {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-self: flex-end;
  vertical-align: middle;
  z-index: 9999;
  color: black;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: wrap;
  ._2Qem8{
    font-size: 1rem;
    padding: 30px;
  }
  .reconect {
    flex-grow: 2;
  }
}
